// -----------------------------------------------------------------------------
// This file contains all styles related to the port status component.
// -----------------------------------------------------------------------------

.feature-map {
  margin-bottom: 25px;

  .features {
    font-family: 'ubuntu-mono';
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.6;
    column-count: 3;
    column-gap: 2em;

    .small {
      font-family: 'ubuntu';
    }

    @media (max-width: 991.98px) {
      column-count: 2;
    }

    @media (max-width: 575.98px) {
      column-count: 1;
      padding-left: 20px;
    }

    &>div:not(:last-child) {
      padding-right: 25px;
    }

    ul {
      margin-bottom: 15px;

      li a {
        text-decoration: underline
      }
    }
  }

  .feature-icon img, .feature-legend img {
    display: inline;
    width: 1em;
  }

  .feature-legend {
    @media (max-width: 991.98px) {
      padding-left:20px;
    }
  }

}

.btn-light {
  background-color: var(--background-transparent);
  border: none;

  &:hover {
    background-color: var(--background-transparent);
  }
}

.missing-data {
  margin-bottom: 0;

  .features {
    columns: 1 !important;
  }

  .feature-legend, .usability-description, .heading {
    display: none !important;
  }
}
