<template>
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Mobile Toggler -->
    <a v-b-toggle.sidebarCollapse class="sidebar-toggler h6 light d-lg-none">
      <span> {{ filteredResults.length }} supported devices </span>

      <g-image
        src="~/assets/img/symbols/angle-icon-gradient.svg"
        class="dark-invert"
      />
    </a>
    <!-- Collapse -->
    <b-collapse id="sidebarCollapse">
      <!-- Tab Content -->
      <div id="tabContent" class="tab-content advanced-filters">
        <!-- Search -->
        <input
          v-model="searchTerm"
          class="input"
          type="text"
          placeholder="Search device"
        />
        <label class="installer-label"
          ><input v-model="installerFilter" type="checkbox" /><span
            class="
              badge badge-secondary badge-pill
              m-1
              px-3
              py-1
              d-none d-lg-block
            "
            >Installer</span
          ></label
        >
        <h3 class="h6 d-none light d-lg-block">
          <span v-if="filteredResults.length >= 2" class="small">
            {{ filteredResults.length }} devices
          </span>
          <span v-else-if="filteredResults.length == 1" class="small">
            One device
          </span>
          <span v-else class="small">
            <p class="bold mb-1">This device isn't ported yet.</p>
            <p class="mb-1">Do you wish that your device becomes supported?</p>
            <a
              class="link"
              href="https://docs.ubports.com/porting/"
              target="_blank"
              rel="noreferrer noopener"
              >&rarr; Start your own port.</a
            >
          </span>
        </h3>

        <span v-b-toggle.advancedFilters class="advanced-filter-toggle">
          <g-image class="dark-invert" src="~/assets/img/symbols/filter.svg" />
        </span>

        <hr class="d-none d-lg-block" />

        <!-- Advanced filters -->
        <b-collapse id="advancedFilters">
          <div class="mt-4">
            <h6 class="small my-3">Show only</h6>

            <label
              ><input v-model="deviceType" type="checkbox" value="phone" /><span
                class="badge badge-secondary badge-pill mr-1 px-3 py-1"
                >Phone</span
              ></label
            >
            <label
              ><input
                v-model="deviceType"
                type="checkbox"
                value="tablet"
              /><span class="badge badge-secondary badge-pill mr-1 px-3 py-1"
                >Tablet</span
              ></label
            >
            <label
              ><input v-model="deviceType" type="checkbox" value="tv" /><span
                class="badge badge-secondary badge-pill mr-1 px-3 py-1"
                >Others</span
              ></label
            >
          </div>

          <div>
            <h6 class="small my-2">Development Stage</h6>

            <label v-for="(index, stage) in stages" :key="index">
              <input v-model="featureStage" type="radio" :value="stage" />
              <span
                :class="{ 'text-highlight': featureStage >= stage }"
                class="star-scale m-1"
                >★</span
              >
            </label>
            <span class="pl-3">{{ stages[featureStage] }}</span>
          </div>

          <div>
            <h6 class="small my-3">Built on</h6>

            <label
              ><input v-model="portType" type="checkbox" value="Native" /><span
                class="badge badge-secondary badge-pill mr-1 px-3 py-1"
                >Native</span
              ></label
            >
            <label
              ><input
                v-model="portType"
                type="checkbox"
                value="Halium 10.0"
              /><span class="badge badge-secondary badge-pill mr-1 px-3 py-1"
                >Halium 10.0</span
              ></label
            >
            <label
              ><input
                v-model="portType"
                type="checkbox"
                value="Halium 9.0"
              /><span class="badge badge-secondary badge-pill mr-1 px-3 py-1"
                >Halium 9.0</span
              ></label
            >
            <label
              ><input
                v-model="portType"
                type="checkbox"
                value="Halium 7.1"
              /><span class="badge badge-secondary badge-pill mr-1 px-3 py-1"
                >Halium 7.1</span
              ></label
            >
            <label
              ><input
                v-model="portType"
                type="checkbox"
                value="Halium 5.1"
              /><span class="badge badge-secondary badge-pill mr-1 px-3 py-1"
                >Halium 5.1</span
              ></label
            >
            <label
              ><input v-model="portType" type="checkbox" value="Legacy" /><span
                class="badge badge-secondary badge-pill mr-1 px-3 py-1"
                >Legacy</span
              ></label
            >
          </div>

          <div>
            <h6 class="small mt-3 mb-2">Sort by</h6>

            <label
              ><input v-model="sortOrder" type="radio" value="name" /><span
                class="badge badge-secondary badge-pill mr-1 px-3 py-1"
                >ABC</span
              ></label
            >
            <label
              ><input v-model="sortOrder" type="radio" value="progress" /><span
                class="badge badge-secondary badge-pill mr-1 px-3 py-1"
                >Progress</span
              ></label
            >
            <label
              ><input v-model="sortOrder" type="radio" value="price" /><span
                class="badge small badge-secondary badge-pill mr-1 px-3 py-1"
                >Price</span
              ></label
            >
          </div>
        </b-collapse>

        <!-- All -->
        <div
          id="all"
          class="tab-pane fade show active"
          aria-labelledby="all-tab"
        >
          <ul id="listOfDevices">
            <!-- Item -->
            <li
              v-for="device in filteredResults"
              :key="device.codename"
              class="device-name"
            >
              <g-link
                v-b-toggle.sidebarCollapse
                :to="device.path"
                :title="device.name + ' - Progress: ' + device.progress + '%'"
              >
                <b-container fluid>
                  <b-row align-h="between" no-gutters>
                    <b-col cols="8">
                      {{ device.name }}
                    </b-col>
                    <b-col cols="4" class="text-center">
                      <b-badge
                        pill
                        :class="'float-right device-tag-' + device.tag"
                      >
                        <span v-if="device.tag == 'promoted'"
                          ><g-image
                            class="both-invert"
                            src="~/assets/img/symbols/promoted-star.svg"
                        /></span>
                        <span v-else-if="device.tag">{{
                          device.tag | capitalize
                        }}</span>
                      </b-badge>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <div class="progress progress-sidebar">
                        <div
                          class="progress-bar"
                          role="progressbar"
                          :style="{ width: device.progress + '%' }"
                          :aria-valuenow="device.progress"
                          aria-valuemin="0"
                          aria-valuemax="1"
                        ></div>
                      </div>
                    </b-col>
                  </b-row>
                </b-container>
              </g-link>
            </li>
          </ul>
        </div>
      </div>
    </b-collapse>
  </div>
</template>

<static-query>
query {
  allDevice {
    totalCount
    edges {
      node {
        deviceType
        codename
        path
        name
        progress
        progressStageNumber
        tag
        portType
        price
        noInstall
      }
    }
  }
}
</static-query>

<script>
import {
  BCollapse,
  VBToggle,
  BContainer,
  BRow,
  BCol,
  BBadge
} from "bootstrap-vue";

import axios from "axios";

export default {
  name: "SearchSidebar",
  components: {
    BCollapse,
    BContainer,
    BRow,
    BCol,
    BBadge
  },
  directives: {
    "b-toggle": VBToggle
  },
  filters: {
    capitalize: function (value) {
      if (!value) return "";
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    }
  },
  data: function () {
    return {
      searchTerm: "",
      deviceType: [],
      portType: [],
      featureStage: 0,
      sortOrder: "progress",
      installerFilter: false,
      stages: [
        "All devices",
        "Devices with data",
        "Booting devices",
        "Supports cellular and data",
        "Media and communication",
        "Fully functional"
      ]
    };
  },
  computed: {
    searchResults() {
      if (this.searchTerm.length < 2) return this.$static.allDevice.edges;
      return this.$search.search({
        query: this.searchTerm,
        limit: 50
      });
    },
    filteredResults() {
      return this.searchResults
        .map((n) => n.node)
        .sort((a, b) => {
          if (!a[this.sortOrder]) return 1;
          if (!b[this.sortOrder]) return -1;
          return typeof a[this.sortOrder] == "number"
            ? b[this.sortOrder] - a[this.sortOrder]
            : a[this.sortOrder].localeCompare(b[this.sortOrder]);
        })
        .filter((a) => {
          return (
            (!this.deviceType.length ||
              this.deviceType.includes(a.deviceType)) &&
            a.progressStageNumber >= parseInt(this.featureStage) &&
            (!this.portType.length || this.portType.includes(a.portType)) &&
            (this.installerFilter ? !a.noInstall : true)
          );
        });
    }
  },
  async mounted() {
    const searchIndex = await axios.get("/flexsearch.json");
    this.$search.import(searchIndex.data, { serialize: false });
  }
};
</script>
